* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  background: #fafafa;
}
.App {
  display: flex;
  height: 100%;
}
.add-items {
  background-color: #fafafa;
  border-right: 1px solid #eeeeee;
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  position: fixed;
}
.display-items {
  width: 50vw;
  padding: 30vh 20px 0 20px;
  margin-left: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.add-items h1 {
  font-size: 88px;
  line-height: 1.1;
  margin-bottom: 64px;
}
form {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 560px;
}
form input[type="text"] {
  height: 70px;
  padding: 15px 21px;
  width: 100%;
  font-size: 19px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  outline: none;
  box-shadow: 0 3px 6px 0 rgba(32, 33, 36, 0.05);
}
form input[type="text"]:hover {
  box-shadow: 0 3px 6px 0 rgba(32, 33, 36, 0.05);
}
form button {
  height: 70px;
  padding: 15px 10px;
  width: 140px;
  font-size: 16px;
  line-height: 1;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: rgb(6, 132, 248);
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0;
}
form button:hover {
  background-color: rgb(6, 117, 221);
}
.date {
  margin: 64px 0 16px 0;
  font-size: 19px;
  font-weight: 400;
  color: #999;
}

.listitem__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 0 20px 0;
  cursor: pointer;
  overflow: hidden;
  padding-right: 10px;
  box-shadow: 0 3px 6px 0 rgba(32, 33, 36, 0.05);
}
.listitem__wrapper:hover {
  box-shadow: 0 3px 6px 0 rgba(32, 33, 36, 0.05);
  border: 1px solid #f1f1f1;
}

.listitem__wrapper.reaction {
  border: 1px solid rgba(255, 0, 0, 0.1);
  background-color: rgba(255, 0, 0, 0.03);
}
.listitem__content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 20px 25px 20px;
}
.listitem__title {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}
.listitem__time {
  font-size: 12px;
  opacity: 0.4;
}
.reaction .listitem__title {
  color: red;
}

.status {
  width: 8px;
  height: 8px;
  display: block;
  background: green;
  border-radius: 100%;
}
.reaction .status {
  background: red;
}

.listitem__delete {
  background: transparent;
  border: none;
  cursor: pointer;
  transform: translateX(0px);
  margin-right: -40px;
  transition: all 0.2s ease;
  height: 20px;
}
.listitem__wrapper:hover .listitem__delete {
  transform: translateX(0);
  margin-right: 0px;
  margin-left: 10px;
}
.listitem__delete:hover svg {
  fill: #333333;
}
.listitem__delete svg {
  fill: #999999;
  height: 20px;
}

/* Transition Classes */
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
